

//.....................Project..........................//
*.log
*.bak
//......................................................//


//....................Engine............................//
**/Binaries/*
!**/Binaries/ThirdParty
Intermediate
Build
Content/Paks
DerivedDataCache
LocalDerivedDataCache
Saved
StarterContent
UserEngine.ini
//......................................................//


//...................Visual Studio......................//
.vscode
*.code-workspace
.vs
.idea
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
//......................................................//


//....................Wwise.............................//
.cache
*.validationcache
*.wsettings
IncrementalSoundBankData.xml
*.akd
*.prof
.backup
//*.wproj//
//......................................................//
Content/GenericNPCAnimPack
Content/Assets/GenericNPCAnimPack
Content/Animations/MainCharacterAnimations/Anim_Sit_Bench_1.uasset
